<div class="row">
  <div class="col-11 offset-1">
    <div class="title mb-5">Features</div>
  </div>
</div>
<div class="row my-3">
  <div class="col-12">
    <div class="col-4 d-inline-block">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img class="feature-icon" src="./../../assets/images/coding.png" alt="Multi-language support">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <div class="feature-item-title pt-2">Multi language support</div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-2 text-center">
          <div class="feature-item-description">Extensive code quality and vulnerability scanning support</div>
        </div>
      </div>
    </div>
    <div class="col-4 d-inline-block">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img class="feature-icon" src="./../../assets/images/robot.png" alt="Automated pull request">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <div class="feature-item-title pt-2">Automated workflow</div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-2 text-center">
          <div class="feature-item-description">Automated pull request resolution with custom threshold selection</div>
        </div>
      </div>
    </div>
    <div class="col-4 d-inline-block">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img class="feature-icon" src="./../../assets/images/pie-chart.png" alt="insights">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <div class="feature-item-title pt-2">Curated insights</div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-2 text-center">
          <div class="feature-item-description">Carefully curated on-point insights in a personalized dashboard</div>
        </div>
      </div>
    </div>
  </div>
</div>