<div class="dashboard-container container-fluid">
  <div class="row">
    <div class="col-9">
      <div class="row my-4">
        <div class="col-6">
          <mat-tab-group>
            <mat-tab label="Repositories"></mat-tab>
            <mat-tab label="Insights"></mat-tab>
            <mat-tab label="Feedback"></mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mx-2" *ngFor="let elem of repositoryStubData">
          <div class="card cursor-pointer">
            <div class="card-header">
              {{elem.tag}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{elem.title}}</h5>
              <p class="card-description">{{elem.description}}</p>
              <p class="card-text">{{elem.lastUpdatedOn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>