<app-navigator></app-navigator>
<div class="dashboard-container">
  <div class="row py-4">
    <div class="col-2 border-end sidebar">
      <div class="row insights-sidebar-item sidebar-item p-3 active" role="button">
        <i class="col-2 fa fa-code align-self-center" aria-hidden="true"></i>
        <div class="col-10">Repositories</div>
      </div>
      <!-- <div class="row insights-sidebar-item sidebar-item p-3" role="button">
        <i class="col-2 fa fa-lightbulb-o align-self-center" aria-hidden="true"></i>
        <div class="col-10">Insights</div>
      </div>
      <div class="row insights-sidebar-item sidebar-item p-3" role="button">
        <i class="col-2 fa fa-comments-o align-self-center" aria-hidden="true"></i>
        <div class="col-10">Feedback</div>
      </div> -->
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>