<app-navigator></app-navigator>
<div class="dashboard-container">
  <div class="row py-4">
    <div class="col-2 border-end sidebar">
      <div class="row insights-sidebar-item sidebar-item p-3 active" role="button">
        <i class="col-2 fa fa-code align-self-center" aria-hidden="true"></i>
        <div class="col-10">Repositories</div>
      </div>
      <div class="row insights-sidebar-item sidebar-item p-3" role="button">
        <i class="col-2 fa fa-lightbulb-o align-self-center" aria-hidden="true"></i>
        <div class="col-10">Insights</div>
      </div>
      <div class="row insights-sidebar-item sidebar-item p-3" role="button">
        <i class="col-2 fa fa-comments-o align-self-center" aria-hidden="true"></i>
        <div class="col-10">Feedback</div>
      </div>
    </div>
    <div class="col-7" *ngIf="!showThresholdView">
      <div class="row mb-3 px-4 d-flex justify-content-between">
        <div class="p-3 metric repository-metric">
          <img src="../../../assets/images/repo.png" class="metric-icon" alt="repositories">
          <div class="metric-value mt-4">13</div>
          <div class="metric-name">Repositories</div>
        </div>
        <div class="p-3 metric collaborator-metric">
          <img src="../../../assets/images/coder-head.png" class="metric-icon" alt="collaborators">
          <div class="metric-value mt-4">27</div>
          <div class="metric-name">Collaborators</div>
        </div>
        <div class="p-3 metric scan-metric">
          <img src="../../../assets/images/loupe.png" class="metric-icon" alt="scanning">
          <div class="metric-value mt-4">297</div>
          <div class="metric-name">Code scanning</div>
        </div>
      </div>
      <div class="px-4 py-1 repository-list row">
        <div class="col-12 p-0">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Last updated">
              <th mat-header-cell *matHeaderCellDef>Last updated on</th>
              <td mat-cell *matCellDef="let element">{{element.lastUpdatedOn}}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="health">
              <th mat-header-cell *matHeaderCellDef>Health</th>
              <td mat-cell *matCellDef="let element">{{element.health}}%</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row (click)="onRepoClick(row.title)" *matRowDef="let row; columns: displayedColumns;" role="button">
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-7 threshold-form-view" *ngIf="showThresholdView">
      <div class="row">
        <div class="col-12 d-flex align-self-center" role="button" (click)="showThresholdView = false">
          <img src="../../assets/images/back.png" height="20" alt="back arrow"
            class="back-arrow mx-2 align-self-center">
          <span class="repo-title">
            Threshold
          </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <!-- my-form.component.html -->

          <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="col-12">
              <input matInput placeholder="{{selectedRepo}}" disabled>
            </mat-form-field>
            <!-- <table>
              <tr>
                <td>
                  <p>Bugs</p>
                  <mat-slider discrete id="bugSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="bugs">
                  </mat-slider>
                </td>
                <td>
                  <p>Vulnerabilities</p>           
                  <mat-slider discrete id="vulnerabilitySlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="vulnerabilities">
                  </mat-slider>
                </td>
                <td>
                  <p>Code Smell</p>
                  <mat-slider discrete id="codeSmellSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="codeSmell">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Test Coverage:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="testCoverageSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="testCoverage">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Duplicated Lines:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="duplicatedLinesSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="duplicatedLines">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Cyclomatic Complexity:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="cyclomaticComplexitySlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="cyclomaticComplexity">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Documented Lines:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="documentedLinesSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="documentedLines">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Cyclic Dependency:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="cyclicDependencySlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="cyclicDependency">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">God Components:</label>&nbsp;&nbsp;&nbsp;           
                  <mat-slider discrete id="godComponentsSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="godComponents">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Cyclically Dependent Modularization:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="cyclicallyDependentModularizationSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="cyclicallyDependentModularization">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Insufficient Modularization:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="insufficientModularizationSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="insufficientModularization">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Unnecessary Abstraction:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="unnecessaryAbstractionSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="unnecessaryAbstraction">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Complex Method:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="complexMethodSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="complexMethod">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Complex Conditional:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="complexConditionalSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="complexConditional">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Empty Catch Clause:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="emptyCatchClauseSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="emptyCatchClause">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Missing Assertion:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="missingAssertionSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="missingAssertion">
                  </mat-slider>
                </td>
                <td>
                  <label style="display: inline-block; width: 300px; white-space: nowrap;">Empty Test:</label>&nbsp;&nbsp;&nbsp;
                  <mat-slider discrete id="emptyTestSlider" min="1" max="100" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="emptyTest">
                  </mat-slider>
                </td>
                <td>
                  <p> </p>
                </td>
              </tr>
              <tr>
                <td>
                  <button mat-raised-button color="primary" type="submit">Submit</button>
                </td>
              </tr>
            </table> -->
            <h3>Overall Thresholds</h3>

            <div>
              <p><mat-checkbox color="primary" formControlName="allowAction" labelPosition="before">Block Merge If Threshold Values Not Met</mat-checkbox></p>
            </div>

            <table width="100%">
              <tr>
                <td>
                  <p>Code Smell</p>
                  <mat-slider discrete id="codeSmellSlider" min="1" max="20" step="0.1" value="1" class="col-12">
                  <input matSliderThumb formControlName="codeSmell">
                  </mat-slider>
                </td>
                <td>
                  <p>Duplicated Lines</p>
                  <mat-slider discrete id="duplicatedLinesSlider" min="1" max="10" step="0.1" value="1" class="col-12">
                  <input matSliderThumb formControlName="duplicatedLines">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Cyclomatic Complexity</p>
                  <mat-slider discrete id="cyclomaticComplexitySlider" min="1" max="15" step="0.1" value="1" class="col-12">
                  <input matSliderThumb formControlName="cyclomaticComplexity">
                  </mat-slider>
                </td>
                <td>
                  <p>Architecture Smell Density</p>
                  <mat-slider discrete id="archSmellDensitySlider" min="1" max="20" step="0.1" value="1" class="col-12">
                  <input matSliderThumb formControlName="archSmellDensity">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Design Smell Density</p>
                  <mat-slider discrete id="designSmellDensitySlider" min="1" max="25" step="0.1" value="1" class="col-12">
                  <input matSliderThumb formControlName="designSmellDensity">
                  </mat-slider>
                </td>
                <td>
                  <p>Implementation Smell Density</p>
                  <mat-slider discrete id="impSmellDensitySlider" min="1" max="30" step="0.1" value="1" class="col-12">
                  <input matSliderThumb formControlName="impSmellDensity">
                  </mat-slider>
                </td>
              </tr>
            </table>

            <br>

            <h3>Architecture Smells</h3>
            <table width="85%">
              <tr>
                <td>
                  <p>Cyclic Dependency</p>
                  <mat-slider discrete id="cyclicDependencySlider" min="1" max="20" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="cyclicDependency">
                  </mat-slider>
                </td>
                <td>
                  <p>God Components</p>
                  <mat-slider discrete id="godComponentsSlider" min="1" max="10" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="godComponents">
                  </mat-slider>
                </td>
              </tr>
            </table>
            
            <br>

            <h3>Design Smells</h3>
            <table width="75%">
              <tr>
                <td>
                  <p>Cyclically Dependent Modularization</p>
                  <mat-slider discrete id="cyclicallyDependentModularizationSlider" min="1" max="20" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="cyclicallyDependentModularization">
                  </mat-slider>
                </td>
                <td>
                  <p>Insufficient Modularization</p>
                  <mat-slider discrete id="insufficientModularizationSlider" min="1" max="30" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="insufficientModularization">
                  </mat-slider>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Unnecessary Abstraction</p>
                  <mat-slider discrete id="unnecessaryAbstractionSlider" min="1" max="25" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="unnecessaryAbstraction">
                  </mat-slider>
                </td>
              </tr>
            </table>
            
            <br>
            
            <h3>Implementation Smells</h3>
            <table width="85%">
              <tr>
                <td>
                  <p>Complex Conditional</p>
                  <mat-slider discrete id="complexConditionalSlider" min="1" max="20" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="complexConditional">
                  </mat-slider>
                </td>
                <td>
                  <p>Empty Catch Clause</p>
                  <mat-slider discrete id="emptyCatchClauseSlider" min="1" max="10" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="emptyCatchClause">
                  </mat-slider>
                </td>
              </tr>
            </table>
            
            <br>

            <h3>Test Smells</h3>
            <table width="87%">
              <tr>
                <td>
                  <p>Missing Assertion</p>
                  <mat-slider discrete id="missingAssertionSlider" min="1" max="10" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="missingAssertion">
                  </mat-slider>
                </td>
                <td>
                  <p>Empty Test</p>
                  <mat-slider discrete id="emptyTestSlider" min="1" max="10" step="1" value="1" class="col-12">
                  <input matSliderThumb formControlName="emptyTest">
                  </mat-slider>
                </td>
              </tr>
            </table>
            
            <br>

            <div>
              <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>

          </form>
        

        </div>
      </div>
    </div>
  </div>
</div>