<section class="homepage-container container-fluid">
  <header class="navbar-container row pt-3 fixed-top">
  </header>
  <section class="main-section mt-5" id="main-section">
    <div class="row">
      <div class="col-6 illustration-section">
        <img class="illustration" src="../assets/images/code-bot-illustration-v1.webp" alt="illustration-section">
      </div>
      <div class="col-5 message-section">
        <div class="row">
          <div class="col-9 tagline">
            Integrate your code <i class="fa fa-long-arrow-right" aria-hidden="true"></i> automate your work
          </div>
          <div class="col-9 description my-4">
            Evolve at the speed of your business with the leader in code review automation
          </div>
          <div>
            <app-github-login></app-github-login>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features-section row py-5" id="features-section">
    <app-features></app-features>
  </section>
  <footer class="row">
    <div class="footer-content">
      <h3>CoderGate</h3>
      <p>Automate your workflow with extensive code quality and vulnerability scanning</p>
      <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
  </footer>
  <router-outlet></router-outlet>
</section>
